* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

html, body {
    width: 100%;
    margin: 0;
    height: 0;
}

#container {
    min-height: 100vh;
    width: 100%;
    background-image: url("/assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#nav {
    padding: 40px 50px 0 50px;
}

#nav-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    padding: 0 20px;
}

.nav-left:hover {
    cursor: pointer;
}

.mobile-menu {
    display: none;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right .btn {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    background: none;
    border: none;
    color: white;
    height: 80px;
    margin-right: 50px;
    cursor: pointer;
}

.nav-right .btn::after {
    content: '';
    position: absolute;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px;
    transition: width 0.3s ease-in-out;
}

.nav-right .btn:hover::after {
    width: 100%;
}

.nav-right .btn-text {
    font-size: 14px;
}

#des-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 20px;
}

.des-left {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.des-title {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 100;
    padding-right: 60px;
}

.des-title strong {
    color: rgb(98, 102, 106);
}

.img-container {
    margin-top: 80px;
}

.des-right {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.select-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.select-btns {
    height: 30px;
    margin-right: 40px;
    position: relative;
}


.btn {
    height: 100%;
    border: none;
    background-color: transparent;
    color: rgb(98, 102, 106);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
}

.btn:hover {
    color: white;
}

.active {
    color: white
}

.btn::after {
    content: '';
    position: absolute;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px;
    transition: width 0.3s ease-in-out
}

.btn:hover::after {
    width: 100%;
}

.des-intro .des-name {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 100px;
    font-family: auto;
    margin-bottom: 20px;
}

.des-intro .des-info {
    width: 70%;
    line-height: 1.6;
    margin-bottom: 20px;
}

.des-intro .line {
    height: 1px;
    background-color: rgb(98, 102, 106);
    width: 70%;
}

.des-intro .des-remain {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.distance .dis-text,
.timer .timer-text {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 13px;
    padding-bottom: 10px;
}

.distance .dis-km,
.timer .timer-left {
    font-family: auto;
    font-size: 32px;
    font-weight: 100;
}

@media only screen and (max-width: 1080px) {
    #container {
        background-image: url("/assets/destination/background-destination-tablet.jpg");
    }

    #des-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .des-title {
        padding: 0;
    }

    .des-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 80%;
    }

    .select-group {
        display: flex;
        justify-content: center;
        margin-left: 40px;
    }

    .des-intro .des-info {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 50px;
        padding-bottom: 20px;
    }

    .des-intro .line {
        width: 100%;
    }

    .des-intro .des-remain {
        width: 90%;
        margin: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .mobile-menu {
        display: block;
        position: relative;
        margin-left: auto;
        padding-right: 24px;
        cursor: pointer;
        z-index: 1002;
    }

    .nav-right {
        position: fixed;
        inset: 0 0 0 auto;
        top: -70%;
        right: -100%;
        width: 80%;
        min-height: 100vh;
        background: rgba(15, 15, 30, 0.95);
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding-top: 120px;
        padding-right: 30px;
        transition: right 0.4s ease;
        z-index: 1000;
    }

    .nav-right.active {
        right: -10%;
        display: flex;
        align-items: flex-end;
    }

    .des-left {
        width: 100%;
    }

    .des-intro .des-remain {
        width: 90%;
        margin: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .des-remain .distance {
        margin-bottom: 20px;
    }

    .des-remain .timer {
        margin-top: 20px;
    }
}