<div id="container">

        <header id="nav">
            <div id="nav-container">
    
                <nav class="nav-left">
                    <img src="/assets/shared/logo.svg" alt="logo">
                </nav>

                <div class="mobile-menu">
                    <img id="mobile-icon" src="/assets/shared/icon-hamburger.svg" alt="mobile-icon">
                </div>
    
                <nav class="nav-right unactive">
    
                    <button 
                    routerLink="/"
                    type="button"
                    class="btn"
                    >
                        <h4 class="btn-text">00 Home</h4>
                    </button>
                    <button 
                    routerLink="/destination"
                    type="button"
                    class="btn"
                    >
                        <h4 class="btn-text">01 Destination</h4>
                    </button>
                    <button class="btn">
                        <h4 class="btn-text">02 Crew</h4>
                    </button>
                    <button class="btn">
                        <h4 class="btn-text">03 Technology</h4>
                    </button>
    
                </nav>
            </div>
        </header>
    
        <main id="des-container">
    
            <div class="des-left">

                <h2 class="des-title">
                    <strong class="des-num">01 </strong>Pick your Destination
                </h2>

                <div class="img-container">
                    <img 
                        src="/assets/destination/image-moon.png" 
                        alt="moon" 
                        class="des-img"
                        >
                </div>
            </div>

            <div class="des-right">

                <div class="select-group">

                    <div class="select-btns">
                        <button class="btn">
                            moon
                        </button>
                    </div>

                    <div class="select-btns">
                        <button class="btn">
                            mars
                        </button>
                    </div>

                    <div class="select-btns">
                        <button class="btn">
                            europa
                        </button>
                    </div>

                    <div class="select-btns">
                        <button class="btn">
                            titan
                        </button>
                    </div>

                </div>

                <div class="des-intro">

                    <h1 class="des-name">Moon</h1>

                    <p class="des-info">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, commodi! Qui error aliquid alias culpa perspiciatis odit laudantium cupiditate! Necessitatibus quidem officia corrupti quo provident iure dolorum, incidunt nihil amet.
                    Aliquid aut quam placeat dignissimos autem voluptatibus reprehenderit
                    </p>

                    <div class="line"></div>

                    <div class="des-remain">

                        <div class="distance">
                            <p class="dis-text">avg. distance</p>
                            <h2 class="dis-km">384.400 KM</h2>
                        </div>

                        <div class="timer">
                            <p class="timer-text">est. travel time</p>
                            <h2 class="timer-left">3 days</h2>
                        </div>

                    </div>

                </div>

            </div>

        </main>
    
</div>
