<div id="container">

        <header id="nav">
            <div id="nav-container">
    
                <nav class="nav-left">
                    <img src="/assets/shared/logo.svg" alt="logo">
                </nav>

                <div class="mobile-menu">
                    <img id="mobile-icon" src="/assets/shared/icon-hamburger.svg" alt="mobile-icon">
                </div>
    
                <nav class="nav-right unactive">
    
                    <button 
                    routerLink="/"
                    type="button"
                    class="btn"
                    >
                        <h4 class="btn-text">00 Home</h4>
                    </button>
                    <button 
                    routerLink="/destination"
                    type="button"
                    class="btn"
                    >
                        <h4 class="btn-text">01 Destination</h4>
                    </button>
                    <button
                     routerLink="/crew"
                     type="button"
                     class="btn">
                        <h4 class="btn-text">02 Crew</h4>
                    </button>
                    <button
                     routerLink="/technology"
                     type="button"
                     class="btn">
                        <h4 class="btn-text">03 Technology</h4>
                    </button>
    
                </nav>
            </div>
        </header>

            <main id="des-container">
                
                <div class="des-left">
    
                    <h2 class="des-title">
                        <strong class="des-num">01 </strong>Pick your Destination
                    </h2>
    
                    <div class="img-container">
                        @if(isLoading) {
                            <p>Loading data...</p>
                        } @else if(selectedDestination) {
                            <img 
                                [src]="selectedDestination.images.png" 
                                [alt]="selectedDestination.name" 
                                class="des-img"
                                >
                        }
    
                    </div>
                </div>
                
                @if(!isLoading && selectedDestination) {

                    <div class="des-right">
        
                        <div class="select-group">
        
                            @for (destination of destinationArray; track destination.name) {
                                <div class="select-btns">
                                    <button
                                        (click)="selectDestinationData(destination)"
                                        [ngClass]="selectedDestination.name === destination.name ? 'active' : ''"
                                        class="btn">
                                        {{ destination.name }}
                                    </button>
                                </div>
                            }
        
                        </div>
        
                        <div class="des-intro">
                            @if(isLoading) {
                                <p>Loading data...</p>
                            } @else if (selectedDestination) {
                                <h1 class="des-name">
                                    {{ selectedDestination.name }}
                                </h1>
                            }
        
                            @if(isLoading) {
                                <p>Loading data...</p>
                            } @else if(selectedDestination) {
                                <p class="des-info">
                                    {{ selectedDestination.description }}
                                </p>
                            }
        
                            <div class="line"></div>
        
                            <div class="des-remain">
        
                                <div class="distance">
                                    <p class="dis-text">avg. distance</p>
                                    @if(isLoading) {
                                        <p>Loading data...</p>
                                    } @else if(selectedDestination) {
                                        <h2 class="dis-km">
                                            {{ selectedDestination.distance }}
                                        </h2>
                                    }
                                </div>
        
                                <div class="timer">
                                    <p class="timer-text">est. travel time</p>
                                    @if(isLoading) {
                                        <p>Loading data...</p>
                                    } @else if(selectedDestination) {
                                        <h2 class="timer-left">
                                            {{ selectedDestination.travel }}
                                        </h2>
                                    }
                                </div>
        
                            </div>
        
                        </div>
        
                    </div>

                }
    
            </main>

    </div>
