* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Barlow', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    color: white;
}

#container {
    height: 100vh;
    background-image: url("/assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}