* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Barlow', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    min-height: 100vh;
    width: 100%;
    background-image: url("/assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#nav {
    padding: 40px 50px 0 50px;
}

#nav-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    padding: 0 20px;
}

.nav-left:hover {
    cursor: pointer;
}

.mobile-menu {
    display: none;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right .btn {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    background: none;
    border: none;
    color: white;
    height: 80px;
    margin-right: 50px;
    cursor: pointer;
}

.nav-right .btn::after {
    content: '';
    position: absolute;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px;
    transition: width 0.3s ease-in-out;
}

.nav-right .btn:hover::after {
    width: 100%;
}

.nav-right .btn-text {
    font-size: 14px;
}

#content-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content-left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 100px;
    color: white;
}

.content-left h3 {
    font-size: 26px;
    font-weight: 100;
    transform: scaleY(1.6);
    text-transform: uppercase;
    margin-bottom: 40px;
}

.content-left h1 {
    font-size: 130px;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.content-left p {
    font-size: 16px;
    padding-right: 190px;
    line-height: 1.6rem;
}


.content-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-top: 100px;
    cursor: pointer;
}

.btn-container .btn {
    border: none;
}

.btn-container .btn h2 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 100;
}

@media only screen and (max-width: 1080px) {
    #container {
        background-image: url('/assets/home/background-home-tablet.jpg');
    }

    #content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 60px;
    }

    .content-left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .content-left p {
        padding: 0;
    }

    .content-right {
        height: 340px;
    }
}

@media only screen and (max-width: 768px) {
    #container {
        background-image: url('/assets/home/background-home-mobile.jpg');
        background-position: center;
    }

    #content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mobile-menu {
        display: block;
        position: relative;
        margin-left: auto;
        padding-right: 24px;
        cursor: pointer;
        z-index: 1002;
    }

    .nav-right {
        position: fixed;
        inset: 0 0 0 auto;
        top: -70%;
        right: -100%;
        width: 80%;
        min-height: 100vh;
        background: rgba(15, 15, 30, 0.95);
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding-top: 120px;
        padding-right: 30px;
        transition: right 0.4s ease;
        z-index: 1000;
    }

    .nav-right.active {
        right: -10%;
        display: flex;
        align-items: flex-end;
    }
    
}