<body>

    <div id="container">

        <header>
            <div id="nav-container">
    
                <nav class="nav-left">
                    <img src="/assets/shared/logo.svg" alt="logo">
                </nav>
    
                <nav class="nav-right">
    
                    <button class="btn">
                        <h4 class="btn-text">00 Home</h4>
                    </button>
                    <button class="btn">
                        <h4 class="btn-text">01 Destination</h4>
                    </button>
                    <button class="btn">
                        <h4 class="btn-text">02 Crew</h4>
                    </button>
                    <button class="btn">
                        <h4 class="btn-text">03 Technology</h4>
                    </button>
    
                </nav>
            </div>
        </header>
    
        <main class="content-container">
    
            <div class="content-left">
                <h3>So, you want to travel to</h3>
                <h1>Space</h1>
                <p>
                    Let’s face it; if you want to go to space, you might as well genuinely go to 
                    outer space and not hover kind of on the edge of it. Well sit back, and relax 
                    because we’ll give you a truly out of this world experience!
                </p>
            </div>
    
            <div class="content-right">
                <div class="btn-container">
                    <button class="btn">
                        <h2>Explore</h2>
                    </button>
                </div>
            </div>
    
        </main>
        
    </div>

</body>
