<div id="container">

        <header id="nav">
            <div id="nav-container">
    
                <nav class="nav-left">
                    <img src="/assets/shared/logo.svg" alt="logo">
                </nav>

                <div class="mobile-menu">
                    <img id="mobile-icon" src="/assets/shared/icon-hamburger.svg" alt="mobile-icon">
                </div>
    
                <nav class="nav-right unactive">
    
                    <button 
                    routerLink="/"
                    type="button"
                    class="btn"
                    >
                        <h4 class="btn-text">00 Home</h4>
                    </button>
                    <button 
                    routerLink="/destination"
                    type="button"
                    class="btn"
                    >
                        <h4 class="btn-text">01 Destination</h4>
                    </button>
                    <button
                     routerLink="/crew"
                     type="button"
                     class="btn">
                        <h4 class="btn-text">02 Crew</h4>
                    </button>
                    <button
                     routerLink="/technology"
                     type="button"
                     class="btn">
                        <h4 class="btn-text">03 Technology</h4>
                    </button>
    
                </nav>
            </div>
        </header>
    
        <main id="tech-container">
            
            @if(!isLoading && selectedTech) {

                <div class="tech-left">
    
                    <h2 class="tech-title">
                        <strong>03 </strong>Space launch 101
                    </h2>

                    @if(selectedTech) {

                        <div class="tech-content">

                            <div class="ul-container">
                                <ul class="number">
                                    @for (tech of techArray; track $index) {
                                        <li
                                        (click)="ulSelect(tech)"
                                        [ngClass]="{active: selectedTech === tech}"
                                        class="tech-select"
                                        >
                                        {{ $index + 1 }}
                                        </li>
                                    }
                                </ul>
                            </div>

                            <div class="tech-info">
                                <h4>The Terminology...</h4>
                                <h1>{{ selectedTech.name }}</h1>
                                <p>{{ selectedTech.description }}</p>
                            </div>

                        </div>

                    }

                </div>

                <div class="tech-right">
                    @if(selectedTech) {

                        <!-- Desktop and mobile Image -->
                        <img 
                        class="img-tech portrait"
                        [src]="selectedTech.images.portrait" 
                        [alt]="selectedTech.name"
                        >

                        <!-- Tablet Image -->
                        <img 
                        class="img-tech landscape"
                        [src]="selectedTech.images.landscape" 
                        [alt]="selectedTech.name"
                        >
                    }
                </div>

            }
    
        </main>
    
</div>
