<div id="container">

        <header id="nav">
            <div id="nav-container">
    
                <nav class="nav-left">
                    <img src="/assets/shared/logo.svg" alt="logo">
                </nav>

                <div class="mobile-menu">
                    <img id="mobile-icon" src="/assets/shared/icon-hamburger.svg" alt="mobile-icon">
                </div>
    
                <nav class="nav-right unactive">
    
                    <button 
                    routerLink="/"
                    type="button"
                    class="btn"
                    >
                        <h4 class="btn-text">00 Home</h4>
                    </button>
                    <button 
                    routerLink="/destination"
                    type="button"
                    class="btn"
                    >
                        <h4 class="btn-text">01 Destination</h4>
                    </button>
                    <button
                     routerLink="/crew"
                     type="button"
                     class="btn">
                        <h4 class="btn-text">02 Crew</h4>
                    </button>
                    <button
                     routerLink="/technology"
                     type="button"
                     class="btn">
                        <h4 class="btn-text">03 Technology</h4>
                    </button>
    
                </nav>
            </div>
        </header>
    
        <main id="content-container">
    
            
    
        </main>
    
</div>
